body {
  width: 100vw;
}

.list {
  margin-bottom: 2em;
}

.list > * {
  margin-bottom: 0.7em;
}

.wrapper > ol > li {
  margin-bottom: 3em;
}

#Connetives td, th {
  border-right: 1px solid #fff;
}

::-webkit-scrollbar {
  display: none;
}

.notes {
  overflow: scroll;
}

table, th, td {
  padding: 5px 10px;
  border: 1px solid #fff;
  border-collapse: collapse;
}

p {
  margin: 0.4em;
  font-style: italic;
}

b {
  font-style: italic;
}

table.sentence tr > *:nth-child(2) {
  min-width: 33ch;
}