.container {
  position: relative;
}

.return {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  margin: 16px;
}

body{
  background: #2b2b2b;
  color: rgb(207, 207, 207);
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
  color: azure;
}

h1, h2, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}